<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
	I am having 5.4 Years of experience in software Analysis, Implementation and Production Support (SDM activites) of Multi-tier, Web based applications using Java Technologies.<br/><br/>
	Good analytical and problem solving skills. <br/><br/>
	Exposure to Cloud Native Application Architectures and Microservices.
<br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
